:root {
    --main-btn-color: #2dd4bf;
  }

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto-light", sans-serif;
    background: #000;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

button {
    font-family: "Roboto-light", sans-serif;
}

input {
    font-family: "Roboto-light", sans-serif;
}

.hide-after-n {
    animation: goleft 7s ease-in-out; 
    visibility: hidden;
}

.transition-width {
    width: 0;
    transition: width 3s ease-in-out;
}
.donut {
    width: 100%;
    height: 100%;
}
.donut-segment {
    transform-origin: center;
}

.selectedSequence {
    transform: scale(1.2);
    opacity: 1!important;
}

.transitionToLeft {
    animation: goleft 3s ease-in-out; 
}

.checkmark {
    position: relative;
}
.checkmark:before {
    content: '';
    height: 2px;
    width: 27px;
    background: inherit;
    position: absolute;
    top: 15px;
    background: var(--main-btn-color);
    transform: rotate(-45deg);
    left: -15px;
}
.checkmark:after {
    content: '';
    height: 2px;
    width: 9px;
    background: var(--main-btn-color);
    position: absolute;
    top: 20px;
    transform: rotate(45deg);
    left: -18.5px;
}

.edit:hover {
    background: #0f172a;
    border-radius: 3px;
}

.edit:hover > span {
    background: var(--main-btn-color);
    border-radius: 0 3px 3px 0;
}

.editor:hover > span > svg {
    fill: #ffffff;
}

.selected {
    position: relative;
    overflow: hidden;
    transition: width 400ms, ease-in-out;
}

.selected:before {
    content: '';
    border-left: 2px solid var(--main-btn-color);
    border-top: 2px solid var(--main-btn-color);
    position: absolute;
    animation: fromleft 400ms ease-in-out; 
    width: 60%;
    height: 60%;
    transition: all 400ms, ease-in-out;

}
.selected:after {
    content: '';
    border-right: 2px solid var(--main-btn-color);
    border-bottom: 2px solid var(--main-btn-color);
    position: absolute;
    animation: fromright 400ms ease-in-out; 
    width: 60%;
    height: 60%;
    transition: all 400ms, ease-in-out;
}

@keyframes goleft {
    0% { left: 10rem; visibility: visible;}
    80% { left: 80rem;visibility: visible; opacity: 0.5; }
    100% { left: 120rem; visibility: hidden;}
}

@keyframes fromleft {
    0% { width: 100%; height: 100%; transform: translate(-150%, -150%); border-color: #000;}
    100% { width: 60%; height: 60%;transform: translate(0, 0); border-color: #000;}
}
@keyframes fromright {
    0% { width: 100%; height: 100%;transform: translate(150%, 150%); border-color: #000;}
    100% { width: 60%; height: 60%; transform: translate(0, 0); border-color: #000;}
}
